<h1>服务器状态</h1>

<strong>概要</strong>
<ul>
    <li>消息总数：{{status.summary.msg}}</li>
    <li>发送成功：{{status.summary.success}}</li>
    <li>发送失败：{{status.summary.error}}</li>
</ul>
<strong>队列</strong>
<ul>
    <li>准备发送：{{status.queue.ready}}</li>
    <li>第1次错误：{{status.queue.error1}}</li>
    <li>第2次错误：{{status.queue.error2}}</li>
    <li>第3次错误：{{status.queue.error3}}</li>
    <li>第4次错误：{{status.queue.error4}}</li>
    <li>第5次错误：{{status.queue.error5}}</li>
    <li>完全错误：{{status.queue.error}}</li>
</ul>
<strong>时间</strong>
<ul><li>{{status.time}}</li></ul>
<button class="btn btn-default" v-on:click="update()"> 刷新 </button>