<div class="jumbotron">
    <h1>Hello, Message server</h1>
</div>

<div class="row">
    <h3>Features</h3>
    <ol class="method-list">
        <li>Post推送到订阅者提供的url地址, 订阅者无须长连接或是阻塞从服务器获取消息，可用于异地网络</li>
        <li>消息队列使用redis存储，保证消息不丢失，安全送达客户端，当服务中断或重启，未发送的消息自动发送</li>
        <li>当消息因网络问题或其它问题不可到达，延时5次重新尝试发送，直到存储到失败队列进行人工处理</li>
        <li>可设置用于发送消息的进程数量</li>
        <li>足够高效，在vps测试，可达2000 qps, 满足大部分应用系统</li>
    </ol>
    <h3>Todo</h3>
    <ol class="method-list">
        <li>在一定周期内连接向某一订阅者发送的错误次数超过设定时，直接投递到错误队列</li>
        <li>队列的转移，比如直接将某一错误队列转向待发送队列</li>
        <li>完成消息及发送历史记录</li>
        <li>完善统计，统计某一周期内的各类数据，可依赖完善的历史记录获取</li>
    </ol>
</div>